div.paginate{
    padding: 5px 0px;
    margin: auto;
}
div.paginate input[type='button']:hover{
    cursor: pointer;
}
div.paginate input[type='button']{

    border: .0625rem solid #dee2e6;
    color: #8898aa;
    background-color: #fff;

    min-width: 1.5rem;
    min-height: 1.5rem;
    outline: none;


    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 3px;
    border-radius: 50%!important;
    width: 36px;
    height: 36px;
    font-size: .875rem;

}
div.paginate input[type='button']:hover{
    z-index: 2;
    color: #8898aa;
    text-decoration: none;
    background-color: #dee2e6;
    border-color: #dee2e6;
}




div.paginate input[type='button'].active{
    background-color: #0065FF;
    color: #fff;
    font-weight: bold;
}
div.paginate input[type='button']:disabled{
    color: grey!important;
    cursor: not-allowed;
}

div.paginate input[type='number']#paginate_page_to_go{
    max-width: 3rem;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.65);
    padding: 3px;


}
